<%- include("_header.ejs", {title: title}) %>
    <body>
        <div class="container">
            <div class="main">
                <form class="auth-form" action="/password-reset" method="post">
                    <h2>Reset password</h2>

                    <% if (typeof err !== "undefined") { %>
                    <div class="err">
                        <i class="fa-solid fa-ban"></i> <%= err %>
                    </div>
                    <% } %>

                    <div class="auth-form-row">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required />
                    </div>

                    <% if (typeof password_reset_token !== "undefined") { %>
                    <input type="hidden" name="password_reset_token" id="password_reset_token" value="<%= password_reset_token %>" />
                    <% } %>

                    <div class="auth-form-row">
                        <button type="submit">
                            <i class="fa-solid fa-arrow-rotate-left fa-sm fa-fw"></i> Reset
                        </button>
                    </div>

                    <div class="auth-form-row">
                        Not a member? <a href="/sign-up">Sign up</a>
                    </div>
                </form>

                <div class="footer">NODEST &copy; 2022</div>
            </div>
            <div class="aside">
                <div class="logo">NODEST</div>
            </div>
        </div>
    </body>
</html>
